<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="enteredGoalValue" />
      <button @click="addGoal">Add Goal</button>
      <!--1)If, else, else-if statements: -->
      <p v-if="goals.length === 0">
        No goals have been added yet - please start adding some!
      </p>
      <p v-else-if="goals.length > 5">
        Max amount of goals exceeded!!! Length: {{ goals.length }}
      </p>
      <ul v-else>
        <!--2)For statement:
          - array:
              v-for="(value, index) in goals"
          - object:
              v-for="(value, key, index) in goals"
          - range of numbers:
              v-for="num in 10"
          BUG: (try to write in input and delete) every time VUE-DOM deletes last <li/> instead of witch your want because your <li/> don't have index (key prop)!!!
        -->
<!--        <li v-for="(goal, index) in goals" @click="removeGoal(index)">-->
<!--          {{ goal }} - {{ index }}-->
<!--          <br>-->
<!--          &lt;!&ndash; @click.stop allows to stop propagation and don't call @click="removeGoal(index)"&ndash;&gt;-->
<!--          <input type="text" @click.stop />-->
<!--        </li>-->
        <!--3)For + keys: without key property VUE-DOM removes last tag -->
        <li v-for="(goal, index) in goals" :key="goal.id" @click="removeGoal(index)">
          value: {{ goal.val }} - id: {{ goal.id }}
          <br>
          <input type="text" @click.stop />
        </li>
      </ul>
    </section>
  </body>
</html>
